@page "{id:int}"
@model MiniatureMadness.Pages.Shop.ProductModel
@{
    ViewData["Title"] = "Shop/Product";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>@Model.Product.Name</h1>
@if(Model.Product.Image != null)
{
    <img src="@Model.Product.Image" alt="@Model.Product.Name" />
}
<h3>@Model.Product.Price</h3>
<h4>@Model.Product.Description</h4>

